@charset "UTF-8";

  {font-family: Arial, Helvetica, sans-serif;

}
body {
 background-image:linear-gradient(to right, #A69586, #D9D3C1);
}
main {
background-color: white;
border-radius: 10px;
box-shadow: #130000c6 5px 5px 15px;
width: 600px;
padding: 10px;
margin: auto;
}

h1{color:#A64E1B;
text-align: center;
text-shadow: 1px 1px 2px #2601012c;}

h2 {color:#260101 ;}
p {
  text-align: justify;
}